@import url(//fonts.chrissx.de/);

html {
        color: #ffffff;
        background-color: #000000;
        font-family: Minecraft, Inter;
        font-size: 18px;
        padding-left: 20%;
        padding-right: 20%;
}

header {
        font-size: 40px;
        text-align: center;
        padding-bottom: 20px;
}

* {border-color: #555555}
:link, :visited { color: #aaaaaa; }

.cmred { color: #c02020; }
.cmpurple { color: #8020f0; }
.cmblack { color: #202020; }
.transblue { color: #60d0ff; }
.transpink { color: #ffb0c0; }
