---
import Link from "../components/Link.astro";
import Links from "../components/Links.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="catgrid">
        <Links
            title="Actual socials"
            rel="me"
            links={[
                ["Twitter", "//twitter.com/pixelcmtd"],
                ["Mastodon", "//mastodon.online/@pixel"],
                ["Traewelling", "//traewelling.de/@pixel"],
                ["Reddit", "//reddit.com/u/actual_chrissx/"],
                ["Raddle", "//raddle.me/u/chrissx"],
                ["Discord", "//discord.com/users/231670489779666944"],
                ["Matrix (Element, ...)", "//matrix.to/#/@chrissx:matrix.org"],
                ["Instagram", "//instagram.com/pixelcmtd"],
            ]}
        />
        <Links
            title="Music"
            rel="me"
            links={[
                ["Spotify", "//open.spotify.com/artist/2rocyi9EwRuEPwN9gF6Lbv"],
                [
                    "Apple Music",
                    "//music.apple.com/de/artist/chrissx/1480240715",
                ],
                ["Tidal", "//tidal.com/browse/artist/16849361"],
            ]}
        />
        <Links
            title="Games"
            rel="me"
            links={[["Steam", "//steamcommunity.com/id/pixelcmtd"]]}
        >
            <li style={{ listStyle: "none" }} slot="after">
                Battle.net/Blizzard: chrissx#21230
            </li>
            <li style={{ listStyle: "none" }} slot="after">
                Bethesda: pixelcmtd
            </li>
            <li style={{ listStyle: "none" }} slot="after">
                Minecraft: pixelcmtd
            </li>
        </Links>
        <Links
            title="Misc"
            rel="me"
            links={[
                ["YouTube: chrissx Media", "//youtube.com/@chrissxMedia"],
                ["YouTube: XXLP", "//youtube.com/@pixelcmtd"],
                ["YouTube: Pixel Engineering", "//youtube.com/@pixeleng"],
                ["GitHub", "//github.com/pixelcmtd"],
                [
                    "BisaBoard",
                    "//community.bisafans.de/index.php?user/95320-chrissx/",
                ],
                [
                    "Wikipedia (DE)",
                    "//de.wikipedia.org/wiki/Benutzerin:Chrissx_official",
                ],
                [
                    "Wikipedia (EN)",
                    "//en.wikipedia.org/wiki/User:Chrissx_official",
                ],
            ]}
        >
            <Link href="email_empfangen.flac" slot="before">
                EMAIL EMPFANGEN SOUND
            </Link>
        </Links>
    </div>
</Layout>

<style>
    .catgrid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        row-gap: 1em;
    }

    li {
        margin-top: 0.2em;
    }

    :link,
    :visited {
        color: #aaaaaa;
    }
</style>
