---
import ArticleCard from "../components/ArticleCard.astro";
import Link from "../components/Link.astro";
import Links from "../components/Links.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
    .filter((x) => x.data.pub < new Date())
    .sort((a, b) => b.data.pub.valueOf() - a.data.pub.valueOf());
---

<Layout>
    <h2>Links</h2>
    <div class="catgrid">
        <Links title="Actual socials">
            <Link rel="me" href="//twitter.com/pixelcmtd">Twitter</Link>
            <Link rel="me" href="//mastodon.online/@pixel">Mastodon/Fedi</Link>
            <Link rel="me" href="//traewelling.de/@pixel">Traewelling</Link>
            <Link rel="me" href="//reddit.com/u/actual_chrissx/">Reddit</Link>
            <Link rel="me" href="//raddle.me/u/chrissx">Raddle</Link>
            <Link rel="me" href="//discord.com/users/231670489779666944">
                Discord
            </Link>
            <Link rel="me" href="//matrix.to/#/@chrissx:matrix.org">
                Matrix
            </Link>
            <Link rel="me" href="//instagram.com/pixelcmtd">Instagram</Link>
        </Links>
        <Links title="Music">
            <Link
                rel="me"
                href="//open.spotify.com/artist/2rocyi9EwRuEPwN9gF6Lbv"
            >
                Spotify
            </Link>
            <Link
                rel="me"
                href="//music.apple.com/de/artist/chrissx/1480240715"
            >
                Apple Music
            </Link>
            <Link rel="me" href="//tidal.com/browse/artist/16849361">
                Tidal
            </Link>
        </Links>
        <Links title="Games">
            <Link rel="me" href="//steamcommunity.com/id/pixelcmtd">Steam</Link>
            <li>Battle.net/Blizzard: chrissx#21230</li>
            <li>Bethesda: pixelcmtd</li>
            <li>Minecraft: pixelcmtd</li>
        </Links>
        <Links title="Misc">
            <Link href="email_empfangen.flac">EMAIL EMPFANGEN SOUND</Link>
            <Link rel="me" href="//youtube.com/@chrissxMedia">
                YouTube: chrissx Media
            </Link>
            <Link rel="me" href="//youtube.com/@pixelcmtd">YouTube: XXLP</Link>
            <Link rel="me" href="//youtube.com/@pixeleng">
                YouTube: Pixel Engineering
            </Link>
            <Link rel="me" href="//github.com/pixelcmtd">GitHub</Link>
            <Link rel="me" href="//ngl.link/pixel76232">NGL</Link>
            <Link
                rel="me"
                href="//community.bisafans.de/index.php?user/95320-chrissx/"
            >
                BisaBoard
            </Link>
            <Link
                rel="me"
                href="//de.wikipedia.org/wiki/Benutzerin:Chrissx_official"
            >
                Wikipedia (DE)
            </Link>
            <Link rel="me" href="//en.wikipedia.org/wiki/User:Chrissx_official">
                Wikipedia (EN)
            </Link>
        </Links>
    </div>
    <h2>Blog Articles</h2>
    <ul>
        {blog.map((x) => <ArticleCard {...x} />)}
    </ul>
</Layout>

<style>
    h2 {
        width: max-content;
        margin: 0.5em auto;
    }

    .catgrid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        row-gap: 1em;
    }

    ul {
        display: flex;
        gap: 1em;
        padding: 0;
        flex-flow: column;
    }

    li {
        list-style: none;
        margin-top: 0.2em;
    }

    :link,
    :visited {
        color: #aaaaaa;
    }
</style>
