<header>
    <h1>
        <a href="/">
            <span style={{color: "rgb(var(--transpink))"}}>pixel</span>
            aka.
            <span style={{color: "rgb(var(--transblue))"}}>chrissx</span>
        </a>
    </h1>
    <slot />
</header>

<style>
    header {
        text-align: center;
        padding-bottom: 20px;
    }
    h1 {
        font-size: 40px;
        margin: 0;
    }
    a {
        color: white;
        font-weight: normal;
        text-decoration: none;
    }
</style>
