---
export type Props = astroHTML.JSX.AnchorHTMLAttributes;
---

<li>
    <a {...Astro.props}>
        <slot />
    </a>
</li>

<style>
    li {
        list-style: none;
        margin-top: 0.2em;
    }
</style>
