---
export type Props = {
    title: string;
};
---

<div>
    <ul>
        <h3>{Astro.props.title}</h3>
        <slot />
    </ul>
</div>

<style>
    div {
        min-width: 34%;
        max-width: 50%;
    }

    @media screen and (width <= 550px) {
        div {
            min-width: 90%;
            max-width: 90%;
        }
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0.25em;
        font-weight: normal;
    }

    ul {
        padding-left: 0.5em;
        margin: 0;
    }
</style>
