---
import { BaseLayout, Footer } from "cmdesigns";
import favicon from "../favicon.png";
---

<BaseLayout {favicon} lang="en" title="pixel aka. chrissx" description="pixel's very cool website">
    <header>
        <span class="transpink">pixel</span>
        aka.
        <span class="transblue">chrissx</span>
    </header>
    <slot />
    <Footer start={2021} link="https://github.com/chrissxMedia/pixel.chrissx.de" />
</BaseLayout>

<style>
    :global(body) {
        font-family: var(--minecraft);
        font-size: 18px;
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        font-size: 40px;
        text-align: center;
        padding-bottom: 20px;
    }

    :link, :visited { color: #aaaaaa; }

    .transblue { color: rgb(var(--transblue)); }
    .transpink { color: rgb(var(--transpink)); }
</style>
