---
import { BaseLayout, Footer } from "cmdesigns";
import favicon from "../favicon.png";
import Header from "../components/Header.astro";
---

<BaseLayout
    {favicon}
    lang="en"
    title="pixel aka. chrissx"
    description="pixel's very cool website"
>
    <Header />
    <div class="content">
        <slot />
    </div>
    <Footer
        start={2021}
        rightsholder="Pixel Häußler, chrissx Media"
        link="https://github.com/chrissxMedia/pixel.chrissx.de"
    />
</BaseLayout>

<style>
    :global(body) {
        font-family: var(--minecraft);
        max-width: 1000px;
        margin: 0 auto;
    }
    .content {
        margin: 0 0.5em;
    }
</style>
